<% content_for :title, "Artifact Satuses" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>

<div class="table-responsive">        
  <table class="table table-striped table-hover">
    <thead class="text-nowrap">
      <tr>
        <th>Name</th>
        <th>
          <% if can? :create, ArtifactStatus %>
            <%= link_to new_project_artifact_status_path(@project), title: "New Artifact Type", class: "float-right" do %>
              <%= fa_icon "plus" %>
            <% end %>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @artifact_statuses.each do |artifact_status| %>
        <tr class="clickable-row" data-href="<%= project_artifact_status_path(@project, artifact_status) %>">
          <td><%= artifact_status.name %></td>
          <td class="not-clikable">
            <% if can? :destroy, artifact_status %>
              <%= link_to [@project, artifact_status], method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right" do %>
                <%= fa_icon "trash" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>