<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-3">
    <%= render 'layouts/alerts' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 offset-lg-4 offset-md-3 mt-5" style="background: rgb(0,0,0); background: rgba(0,0,0,0.5);">
      <div class="form-top">
        <%= image_tag "req_trace_logo.svg", height: "60px", class: "mx-auto d-block" %>
        <p class="text-center">Enter your email and password to login</p>
      </div>
      <div class="form-bottom">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control form-control-lg", placeholder: :email %>
          </div>
          
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-lg", placeholder: :password %>
          </div>

          <div class="form-group">
            <%= f.submit "Log in", class: "btn btn-lg btn-block" %>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <div class="form-check">
                <%= f.label :remember_me, class: "form-check-label text-white" do %>
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  Remember me
                <% end %>
              </div>
            </div>
            <div class="form-group col">
              <a class="float-right text-white" data-toggle="collapse" href="#help" aria-expanded="false" aria-controls="help">Need help?</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row collapse" id="help">
      <div class="col-md-6 col-lg-4 offset-lg-4 offset-md-3" style="background: rgb(0,0,0); background: rgba(0,0,0,0.5);">
        <div class="helps">
          <%= render 'users/shared/links' %>
        </div>
      </div>
  </div>
</div>

<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999999; position: fixed;">
  <%= image_tag "devise_background.jpg", style: "position: absolute; margin: 0px; padding: 0px; border: none; width: 1920px; height: 1080px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -366.167px;" %>
</div>

<style type="text/css">

          .form-top {
            padding-top: 25px;
            padding-right: 25px;
            padding-left: 25px;
            padding-bottom: 15PX;
          }

          .form-bottom {
            padding-top: 25px;
            padding-right: 25px;
            padding-bottom: 5px;
            padding-left: 25px;
          }

          .helps{
            padding-right: 25px;
            padding-bottom: 30px;
            padding-left: 25px;
          }

          input[type=submit] {
            background-color: #ff6600;
            color: white;
          }

          input[type=submit]:hover {
            background-color: #C75000;
          }

          a, p {
            color: white;
          }

          a:hover {
            color: white;
          }

          img {
            margin-bottom: 15px; 
          }
        </style>