<%# image_tag "req_trace_logo.svg", height: "60px", class: "mx-auto d-block" %>
<h5 class="text-center">Enter your email and password to login</h5>

<% if alert %>
  <p class="text-danger"><%= alert %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control form-control-lg #{alert ? 'is-invalid' : ''}" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-lg #{alert ? 'is-invalid' : ''}", placeholder: :password %>
  </div>

  <div class="form-group">
    <%= f.submit "Log in", class: "btn btn-lg btn-block" %>
  </div>

  <div class="form-group">
    <div class="d-flex justify-content-between">
      <div>
        <div class="form-check">
          <%= f.label :remember_me, class: "form-check-label" do %>
          <%= f.check_box :remember_me, class: "form-check-input" %>
          Remember me
          <% end %>
        </div>
      </div>
      <div>
        <a data-toggle="collapse" href="#help" aria-expanded="false" aria-controls="help">Need help?</a>
      </div>
    </div>
  </div>

  <div class="form-group collapse" id="help">
    <div class="form-group">
      <%= render 'users/shared/links' %>
    </div>
  </div>
<% end %>