<table class="table table-bordered" id="editableTable">
	<thead>
		<tr>
			<th scope="col"></th>
			<% @end_artifacts.each do |end_artifact| %>
				<th scope="col" data-id=<%="#{end_artifact.id}"%>>
					<%= link_to end_artifact.code, [@project, @demand, end_artifact] %>
				</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @origin_artifacts.each do |origin_artifact| %>
			<tr>
				<th scope="row">
						<%= link_to origin_artifact.code, [@project, @demand, origin_artifact] %>
				</th>
				<% @end_artifacts.each do |end_artifact| %>
					<% if origin_artifact.id == end_artifact.id %>
						<td style="background-color: grey"></td>
					<% else %>
						<td>
							<input class="checkbox" type="checkbox" name="" data-origin_artifact_id="<%= origin_artifact.id %>" data-end_artifact_id="<%= end_artifact.id %>">
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>