<div class="btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-secondary checkbox" origin-artifact-id="<%= origin_artifact_id %>" end-artifact-id="<%= end_artifact_id %>" relationship-id="" <%= cannot?(:create, Relationship) ? "disabled" : "" %>>
  	<%= fa_icon "square" %>									  		
  </button>
  <% if can? :create, Relationship %>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
  		<% new_url = url_for(action: :new, origin_artifact_id: origin_artifact_id, end_artifact_id: end_artifact_id) %>
  		<a class="dropdown-item" href="<%= new_url %>">New Relationship</a>
    </div>
  <% end %>
</div>