<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h2>Relationships</h2>
      <div class="table-responsive dragscroll">        
        <table class="table table-bordered" id="editableTable">
          <thead>
            <tr>
              <th scope="col"></th>
              <% @artifacts.each do |artifact| %>
                <th scope="col" data-id=<%="#{artifact.id}"%>>
                  <%= link_to artifact.code, [@project, @demand, artifact] %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @artifacts.each_with_index do |artifact, index| %>
              <tr>
                <% i = 0; num = @artifacts.count + 1 %>
                <% while (i < num) do %>
                  <% if (i == 0) %>
                    <th scope="row" data-id=<%="#{artifact.id}"%>>
                      <%= link_to artifact.code, [@project, @demand, artifact] %>
                    </th>
                  <% elsif (i == index+1) %>
                    <td style="background-color: grey"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% i += 1 %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to "Edit Relationships", matrix_path(@project, @demand), class: "btn btn-primary", role: "button" %>
    </main>    
  </div>
</div>

<script>
  $(document).ready(function(){
    var relationships = <%= raw @relationships.to_json %>

    for (var i = 0; i < relationships.length; i++) {
      var row = $("#editableTable tbody th[data-id=" + relationships[i][0] + "]").parent();
      var column = $("#editableTable thead th[data-id=" + relationships[i][1] + "]").index() - 1;

      var cell = row.find('td').eq(column)
      cell.css('background', '#e6f7ff');
    }
  });
</script>

<style type="text/css">
.table-responsive>.fixed-column {
    position: absolute;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: white;
}

@media(min-width:991px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}
</style>