<% content_for :title, "Relationships" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% if active_demand? %>
<% navigation_add "Demands", project_demands_path(@project) %>
<% navigation_add @demand.name, project_demand_path(@project, @demand) %>
<% end %>

<% if can? :create, Relationship %>
	<%= link_to url_for(action: :new), class: "btn btn-dark", role: "button" do %><%= fa_icon 'plus' %> New<% end %>
<% end %>
<%= link_to "#filters", data: {toggle: "collapse"}, aria: { expanded: "false", controls: "filters"}, class: "btn btn-dark", role: "button" do %>
	<%= fa_icon "filter" %> Filter
<% end %>

<div class="collapse mt-3" id="filters">
	<div class="card card-body">
		<%= render 'filters' %>
	</div>    		
</div>

<div class="card mt-3">
  <div class="card-body">
    <% @relationship_types.each do |relationship_type| %>
    	<%= fa_icon "square", class: "mr-1", style: "color: #{relationship_type.color}" %>
    	<span class="mr-3"><%= relationship_type.name %></span>
    <% end %>
  </div>
</div>

<div class="collapse mt-3" id="options">
  <div class=" card card-body">
    <% if can? :create, Relationship %>
			<div class="row">
				<label class="col-form-label col-auto">Relationship Type</label>
				<div class="col-md-3">
					<%= select_tag(:relationship_type_id, options_from_collection_for_select(@relationship_types, :id, :name), {class: "form-control"}) %>
				</div>
				<label class="col-form-label col-auto">Description</label>
				<div class="col-md">
					<%= text_area_tag :description, nil, { class: "form-control", rows: 1 } %>
				</div>
			</div>
		<% end %>
  </div>
</div>

<div class="table-responsive dragscroll mt-3" id="matrix">
	<% if @matrix.rows.any?%>
		<%= render "matrix" %>
	<% else %>
		<%= raw "<p>Nothing to show.</p>" %>
	<% end %>
</div>

<script type="text/javascript">

	function cloneColumn() {
		var $fixedColumn, $table;
		$table = $('#editableTable');
		$fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');
		$fixedColumn.attr('id', 'fixedColumn');
		$fixedColumn.find('th:not(:first-child),td:not(:first-child)').remove();
		$fixedColumn.find('tr').each(function(i, elem) {
			$(elem).height($table.find('tr:eq(' + i + ')').height());
			$(elem).width($table.find('tr:eq(' + i + ')').width());
		});
	};

	$("#matrix").on("click","#editableTable .checkbox:not(.checked)", function(event) {
		event.preventDefault();

		var button = $(this);

		if(button.data('requestRunning')) {
			return;
		}

		var origin_artifact_id = button.attr('origin-artifact-id');
		var end_artifact_id = button.attr('end-artifact-id');

		var relationship_type_id = $('#relationship_type_id').val();
		var description = $('#description').val();

		$.ajax({
			type: "POST",
			url: '<%= url_for(action: :create) %>',
			data: {
				relationship: {
					origin_artifact_id: origin_artifact_id,
					end_artifact_id: end_artifact_id,
					relationship_type_id: relationship_type_id,
					description: description
				}
			},
			complete: function() {
				button.data('requestRunning', false);
			},
			success: function(data) {
				button.parent().html(data.data);
			},
			error: function(data) {
				$('#wraper').prepend(data.responseJSON.errors);
				$("#alert").fadeTo(2000, 500).slideUp(500, function(){
					$("#alert").slideUp(500);
				}); 
			}
		});
	});

	$("#matrix").on("click","#editableTable .checkbox.checked", function(event) {
		event.preventDefault();

		var button = $(this);

		if(button.data('requestRunning')) {
			return;
		}

		var origin_artifact_id = button.attr('origin-artifact-id');
		var end_artifact_id = button.attr('end-artifact-id');
		var relationship_id = button.attr('relationship-id');

		var relationship_type_id = $('#relationship_type_id').val();
		var description = $('#description').val();

		$.ajax({
			type: "DELETE",
			url: '<%= url_for(action: :index) %>' + "/" + relationship_id,
			complete: function() {
				button.data('requestRunning', false);
			},
			success: function(data) {
				button.parent().html(data.data);
			},
			error: function(e, data, status, xhr) {
				$('#wraper').prepend(data.responseJSON.errors);
				$("#alert").fadeTo(2000, 500).slideUp(500, function(){
					$("#alert").slideUp(500);
				});
			}
		});
	});

	$(document).on('turbolinks:load', function() {
		$("#form-filter").on("ajax:success", function(e, data, status, xhr) {
			$("#matrix").html(data.data);
			cloneColumn();
		}).on("ajax:error", function(e, xhr, status, error) {
			$("#matrix").append("<p>ERROR</p>");
		});
	});

	$(document).on("turbolinks:load turbolinks:visit", function() {
		cloneColumn();
	});

	$(document).on("turbolinks:load", function() {
		$('#matrix').dragscroll();
	});

	$("input[value='Filter']").click(function() {
		$("#filters").collapse("hide");
	});

  $(".checkbox").on('mouseover', function () {
    $(this).css("background-color", "darkercolor")
  });

  $(".checkbox").on('mouseover', function () {
    $(this).css("background-color", $(this).data("color"))
  });
</script>

<style type="text/css">
	.table-responsive>.fixed-column {
		position: absolute;
		width: auto;
		border-right: 1px solid #ddd;
		background-color: white;
		z-index: 999;
	}

	td {
		text-align: center;
	}

	.table-fit {
		width: auto !important;
	}

	

	.checked:hover,
  .dropdown-toggle:hover {
    filter: brightness(80%);
  }
</style>
