<h2>Relationships <a data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters"><%= fa_icon "filter" %></a></h2>
<div class="collapse" id="filters">
	<div class="card card-body">
		<%= render 'filters' %>
	</div>    		
</div>
<div class="row mb-3 mt-3">
	<label class="col-form-label col-sm-2">Relationship Type</label>
	<div class="col-sm-3">
		<%= select_tag(:relationship_type_id, options_from_collection_for_select(@relationship_types, :id, :name), {class: "form-control"}) %>
	</div>
</div>
<div class="table-responsive dragscroll" id="matrix">
	<%= render "matrix" %>
</div>

<script type="text/javascript">

	var cloneColumn = function() {
	  var $fixedColumn, $table;
	  $table = $('#editableTable');
	  $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');
	  $fixedColumn.attr('id', 'fixedColumn');
	  $fixedColumn.find('th:not(:first-child),td:not(:first-child)').remove();
	  $fixedColumn.find('th').each(function(i, elem) {
	    $(this).height($table.find('th:eq(' + i + ')').height());
	    $(this).width($table.find('th:eq(' + i + ')').width());
	  });
	};

	$(document).on('click', '#editableTable input:checkbox', function() {
 		var checkbox = $(this);

    origin_artifact_id = checkbox.data('origin_artifact_id');
    end_artifact_id = checkbox.data('end_artifact_id');
    relationship_type_id = $('#relationship_type_id').val();

    var ischecked = $(this).is(':checked');
    if (ischecked) {
	    $.ajax({
	    	type: "POST",
	    	url: '<%= project_demand_relationships_path(@project, @demand) %>',
	    	data: {relationship: {origin_artifact_id: origin_artifact_id, end_artifact_id: end_artifact_id,
	    		relationship_type_id: relationship_type_id, description: ""}},
	    	success: function(data) {
	    		checkbox.attr("id",data);
	    		checkbox.parent().css('background-color', '#e6f7ff');
	    	},
	    	error: function(data) {
	    		checkbox.prop('checked', false);
	    	}
	    });
	   } else {
	   	$.ajax({
	    	type: "DELETE",
	    	url: '<%= project_demand_relationships_path(@project, @demand) %>' + "/" + $(this).attr("id"),
	    	success: function(data) {
	    		checkbox.removeAttr("id");
	    		checkbox.parent().css('background-color', '#ffffff');
	    	},
	    	error: function(data) {
	    		checkbox.prop('checked', true);
	    	}
	    });
	  }  
	});

	var checkRelationships = function() {
		var relationships = <%= raw @relationships.to_json %>

		for (var i = 0; i < relationships.length; i++) {
			var checkbox = $("#editableTable input:checkbox[data-origin_artifact_id=" + 
											relationships[i][0] + "][data-end_artifact_id=" + relationships[i][1] + "]"); 

			checkbox.prop("checked", true);
			checkbox.attr('id', relationships[i][2]);
			checkbox.parent().css('background-color', '#e6f7ff')
		}
		cloneColumn();
	}

	$(document).ready(function () {
		checkRelationships();
	});

	$(document).on('turbolinks:load', function() {
	  $("#form-filter").on("ajax:success", function(e, data, status, xhr) {
	    $("#matrix").html(data.attachmentPartial);
	    checkRelationships();
	  }).on("ajax:error", function(e, xhr, status, error) {
	    $("#matrix").append("<p>ERROR</p>");
	  });
	});

	$("input[value='Filter']").click(function() {
		$("#filters").collapse("hide");
	});
</script>

<style type="text/css">
.table-responsive>.fixed-column {
    position: absolute;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: white;
}

td {
  text-align: center;
}

@media(min-width:991px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}
</style>