<% content_for :title, [@relationship.origin_artifact.code, @relationship.end_artifact.code].join('-') %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% if active_demand? %>
  <% navigation_add "Demands", project_demands_path(@project) %>
  <% navigation_add @demand.name, project_demand_path(@project, @demand) %>
<% end %>
<% navigation_add "Relationships", url_for(action: :index) %>

<div class="table-responsive">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th scope="row">Type</th>
				<td><%= @relationship.relationship_type.name %></td>
			</tr>
			<tr>
				<th scope="row">From</th>
				<td><%= @relationship.origin_artifact.code_with_name %></td>
			</tr>
			<tr>
				<th scope="row">To</th>
				<td><%= @relationship.end_artifact.code_with_name %></td>
			</tr>
			<tr>
				<th scope="row">Description</th>
				<td><%= @relationship.description %></td>
			</tr>
		</tbody>
	</table>				
</div>
<%= link_to "Edit Relationship", url_for(action: :edit, id: @relationship), class: "btn btn-primary", role: "button" %>
<%= link_to "Delete Relationship", url_for(action: :destroy, id:@relationship), method: :delete, class: "btn btn-danger", role: "button" %>
