<%= form_with(model: @user, local: true) do |form| %>
  <div class="form-group row">
    <%= form.label :email, class: "col-form-label col-sm-2" %>
    <div class="col-sm-5">
      <%= form.text_field :email, id: :user_email, class: "form-control #{is_invalid(@user, :email)}" %>
      <%= error_message_for(@user, :email) %>
    </div>    
  </div>

  <% if @set_password %>
    <div class="form-group row">
      <%= form.label :password, class: "col-form-label col-sm-2" %>
      <div class="col-sm-5">
        <%= form.password_field :password, id: :user_password, class: "form-control #{is_invalid(@user, :password)}" %>
        <%= error_message_for(@user, :password) %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :password_confirmation, class: "col-form-label col-sm-2" %>
      <div class="col-sm-5">
        <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: "form-control #{is_invalid(@user, :password_confirmation)}" %>
        <%= error_message_for(@user, :password_confirmation) %>
      </div>      
    </div>
  <% end %>

   <%= form.submit(class: "btn btn-primary") %>
   <%= link_to "Cancel", :back, class: "btn btn-danger" %>
<% end %>
