<h1>Users</h1>

<table class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Confirmed at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="clickable-row" data-href="<%= user_path(user) %>">
        <td><%= user.email %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= link_to user, method: :delete, "data-confirm": 'Are you sure?', class: "float-right" do %><%= fa_icon "trash" %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
