<% content_for :title, @user.username %>
<% navigation_add 'Users', users_path %>

<table class="table table-reponsive table-bordered">
	<tbody>
		<tr>
			<th scope="row">Email</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th scope="row">Username</th>
			<td><%= @user.username %></td>
		</tr>
		<tr>
			<th scope="row">Password</th>
			<td>
				<span>******</span>
				<%= link_to edit_user_registration_path(current_user) do %><%= fa_icon "pencil" %><% end %>
			</td>
		</tr>	
		<tr>
			<th scope="row">Avatar</th>
			<td>
				<% if @user.avatar.present? %>
					<%= link_to @user.avatar_file_name, @user.avatar.url, target: :_blank %>
					<%= link_to  delete_user_avatar_path(@user), method: :post do %><%= fa_icon "trash" %><% end %>
				<% else %>
					<%= link_to edit_user_path(@user) do %>Click here to load a picture <%= fa_icon "upload" %><% end %>
				<% end %>
			</td>
		</tr>	
	</tbody>
</table>

<%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-primary", role: "button" %>
<%= link_to 'Delete User', user_path(@user), method: :delete, class: "btn btn-danger", 'data-confirm': "Are you sure?" %>