<% if demand.errors.any? %>
  <div class="row">
    <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>
  </div>
  <div class="row">
    <ul>
    <% demand.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@project, demand], local: true) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-3">
      <%= form.text_field :name, id: :demand_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-3">
      <%= form.text_field :description, id: :demand_description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :status, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-3">
      <%= form.collection_select :status, @statuses.map{ |s| [s.first, s.first.humanize] }, :first, :second, {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :release, class: "col-sm-1 col-form-label" %>
    <div class="col-sm-3">
      <%= form.text_field :release, id: :demand_release, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
