<%= form_with(model: [@project, demand]) do |form| %>
  <% if demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
      <% demand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :demand_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :demand_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :demand_status %>
  </div>

  <div class="field">
    <%= form.label :release %>
    <%= form.text_field :release, id: :demand_release %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string, id: :demand_string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
