<% content_for :title, "Import Artifacts" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% navigation_add 'Demands', project_demands_path(@project) %>
<% navigation_add @demand.name, project_demand_path(@demand) %>

<%= form_with(url: import_artifacts_path(@project, @demand), local: true) do |form| %>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead class="text-nowrap">
				<tr>
					<th style="width: 20px"><%= check_box_tag "check_all" %></th>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
					<th>Priority</th>
					<th>type</th>
				</tr>
			</thead>

			<tbody>
				<% @artifacts.each do |artifact| %>
				<tr>
					<td><%= form.check_box  :artifact_ids, {multiple: true}, artifact.id, nil %></td>
					<td><%= artifact.code %></td>
					<td><%= artifact.name %></td>
					<td><%= artifact.description %></td>
					<td><%= artifact.priority %></td>
					<td><%= artifact.artifact_type.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate(@artifacts) %>

		<div class="actions">
			<%= form.submit "Import", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$('#check_all').on("click", function(){
		var cbxs = $('input[type="checkbox"]');
		var status = cbxs.slice(0,1).is(':checked'); 
		cbxs.prop("checked", status);
	});
</script>