<% content_for :title, "Import Artifacts" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% navigation_add 'Demands', project_demands_path(@project) %>
<% navigation_add @demand.name, project_demand_path(@project, @demand) %>

<%= render partial: "layouts/search_form", locals: { path: import_artifacts_path(@project, @demand) } %>

<%= form_with(url: import_artifacts_path(@project, @demand), local: true) do |form| %>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead class="text-nowrap">
				<tr>
					<th style="width: 20px"><%= check_box_tag "check_all" %></th>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
					<th>Priority</th>
					<th>type</th>
				</tr>
			</thead>

			<tbody>
				<% @artifacts.each do |artifact| %>
				<tr>
					<td><%= form.check_box  :artifact_ids, {multiple: true}, artifact.id, nil %></td>
					<td><%= artifact.code %></td>
					<td><%= artifact.name %></td>
					<td><%= artifact.description %></td>
					<td><%= artifact.priority %></td>
					<td><%= artifact.type %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate(@artifacts) %>

		<div class="actions">
			<%= form.submit "Import", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$('#check_all').on("change", function (event) {
      event.preventDefault();

      var cbxs = $("input[type=checkbox]:not(#check_all)");
      var status = $(this).is(":checked");
      cbxs.prop("checked", status);
    });

		$("input[type=checkbox]").on("change", function (event) {
      event.preventDefault();

      var checkedNumber = $("input:checked").length;
      var checkNumber = $("input[type=checkbox]").length;

      if (checkNumber > checkedNumber) {
        $("#check_all").prop("checked", false);
      }
    });
</script>