<p id="notice"><%= notice %></p>

<h1>Demands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Release</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demands.each do |demand| %>
      <tr>
        <td><%= demand.name %></td>
        <td><%= demand.description %></td>
        <td><%= demand.status %></td>
        <td><%= demand.release %></td>
        <td><%= demand.string %></td>
        <td><%= link_to 'Show', project_demand_path(@project, demand) %></td>
        <td><%= link_to 'Edit', edit_project_demand_path(@project, demand) %></td>
        <td><%= link_to 'Destroy', project_demand_path(@project, demand), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demand', new_project_demand_path(@project) %>
