<h2>Demands <%= link_to new_project_demand_path(@project), title: "New Demand" do %><%= fa_icon "plus" %><% end %></h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Reponsible</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @project.demands.each do |demand| %>
        <tr class="clickable-row" data-href="<%= project_demand_path(@project, demand) %>">
          <td><%= demand.name %></td>
          <td><%= demand.description %></td>
          <td><%= demand.responsible_user.username %></td>
          <td><%= demand.created_at.to_date %></td>
          <td><%= demand.updated_at.to_date %></td>
          <td class="not-clikable">
            <%= link_to [@project, demand], method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right" do %>
              <%= fa_icon "trash" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@demands) %>
</div>