<% content_for :title, @demand.name %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% navigation_add 'Demands', project_demands_path(@project) %>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td><%= @demand.name %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @demand.description %></td>
      </tr>
      <tr>
        <th scope="row">Release</th>
        <td><%= @demand.release %></td>
      </tr>
      <tr>
        <th scope="row">Resposible</th>
        <td><%= @demand.responsible_user.username %></td>
      </tr>
      <tr>
        <th scope="row">Project</th>
        <td><%= @demand.project.name %></td>
      </tr>
      <tr>
        <th scope="row">Created at</th>
        <td><%= @demand.created_at.to_date %></td>
      </tr>
      <tr>
        <th scope="row">Updated at</th>
        <td><%= @demand.updated_at.to_date %></td>
      </tr>
    </tbody>
  </table>
</div>
<% if can? :edit, @demand %>
  <%= link_to "Edit Demand", edit_project_demand_path(@project, @demand), class: "btn btn-primary", role: "button" %>
<% end %>
<% if can? :destroy, @demand %>
  <div class="btn-group">
    <%= link_to "Delete Demand", [@project, @demand, keep: 0], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <%= link_to "Delete and Keep Artifacts", [@project, @demand, keep: 1], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
    </div>
  </div>
<% end %>