<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-form-label col-sm-1" %>
    <div class="col-sm-3">
      <%= form.text_field :name, id: :project_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-form-label col-sm-1" %>
    <div class="col-sm-3">
      <%= form.text_area :description, id: :project_description, class: "form-control" %>
    </div>
  </div>

  <%= form.submit(class: "btn btn-primary") %>
  <%= link_to "Cancel", :back, class: "btn btn-danger", role: "button" %>
<% end %>
