<% content_for :title, "Add Users" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% navigation_add 'Users', project_users_path(@project) %>

<%= form_with url: project_add_users_path(@project), local: true do |form|%>
	<div class="">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 20px;"><%= check_box_tag "check_all" %></th>
					<th><span class="float-left">E-mail</span></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= form.check_box  :user_ids, {multiple: true}, user.id, nil %></td>
						<td><%= user.email %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate(@users) %>
	</div>
	<%= form.submit "Add Users", class: "btn btn-primary" %>
	<%= link_to "Cancel", :back, class: "btn btn-danger", role: "button" %>
<% end %>

<script type="text/javascript">
	$('#check_all').on("click", function(){
		var cbxs = $('input[type="checkbox"]');
		var status = cbxs.slice(0,1).is(':checked'); 
		cbxs.prop("checked", status);
	});
</script>