<h2>Artifacts</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Created by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @artifacts.each do |artifact| %>
        <tr>
          <td><%= artifact.code %></td>
          <td><%= artifact.name %></td>
          <td><%= artifact.artifact_type.name %></td>
          <td><%= artifact.description %></td>
          <td><%= artifact.priority %></td>
          <td><%= artifact.user.email.split('@').first %></td>
          <td>
            <% if artifact.demands.size > 1 %>
              <span class="badge badge-warning float-right", title="Artifact related to other demands">
                <%= fa_icon "exclamation-circle" %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@artifacts) %>
</div>
