<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <%= link_to "PJe", @project, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Demands", project_demands_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", project_users_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h2><%= @project.name %></h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Description</th>
              <td><%= @project.description %></td>
            </tr>
            <tr>
              <th scope="row">Created by</th>
              <td><%= @project.user.username %></td>
            </tr>
            <tr>
              <th scope="row">Created at</th>
              <td><%= @project.created_at.to_date %></td>
            </tr>
            <tr>
              <th scope="row">Updated at</th>
              <td><%= @project.updated_at.to_date %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary", role: "button" %>
      <%= link_to "Delete Project", @project, method: :delete, class: "btn btn-danger", role: "button" %>
    </main>
  </div>
</div>