<% content_for :title, @project.name %>
<% navigation_add 'Projects', projects_path %>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td><%= @project.name %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @project.description %></td>
      </tr>
      <tr>
        <th scope="row">Created by</th>
        <td><%= @project.user.username %></td>
      </tr>
      <tr>
        <th scope="row">Created at</th>
        <td><%= @project.created_at.to_date %></td>
      </tr>
      <tr>
        <th scope="row">Updated at</th>
        <td><%= @project.updated_at.to_date %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary", role: "button" %>
<%= link_to "Delete Project", @project, method: :delete, class: "btn btn-danger", role: "button" %>