<% content_for :title, "Users" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th><span class="float-left">E-mail</span></th>
				<th><%= link_to project_add_users_path(@project), title: "Add Users", class: "float-right" do %><%= fa_icon "plus" %><% end %></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.email %></td>
					<td>
						<%= link_to project_remove_user_path(@project, user), method: :post, class: "float-right" do %>
							<%= fa_icon "trash" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate(@users) %>
</div>