<%= form_with(model: [@project, @artifact_type], local: true) do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: "col-form-label col-sm-1" %>
    <div class="col-sm-3">
      <%= form.text_field :name, id: :artifact_type_name, class: "form-control #{is_invalid(@artifact_type, :name)}" %>
      <%= error_massage_for(@artifact_type, :name)%>
    </div>    
  </div>

  <%= form.submit(class: "btn btn-primary") %>
  <%= link_to "Cancel", :back, class: "btn btn-danger", role: "button" %>
<% end %>
