<h2>Artifact Types <%= link_to new_project_artifact_type_path(@project), title: "New Artifact Type" do %><%= fa_icon "plus" %><% end %></h2>
<div class="table-responsive">        
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @artifact_types.each do |artifact_type| %>
        <tr class="clickable-row" data-href="<%= project_artifact_type_path(@project, artifact_type) %>">
          <td><%= artifact_type.name %></td>
          <td class="not-clikable">
            <%= link_to [@project, artifact_type], method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right" do %>
              <%= fa_icon "trash" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
