<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
      	<li class="nav-item">
          <%= link_to @artifact_type.name, [@project, @artifact_type], class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Demands", project_demands_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", project_users_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Artifact Types", project_artifact_types_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Artifact Type", new_project_artifact_type_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Relationship Types", project_relationship_types_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Relationship Type", new_project_relationship_type_path(@project), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to @project.name, @project, class: "nav-link" %>
        </li>
      </ul>
    </nav>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <%= render 'layouts/alerts' %>
      <h2><%= @artifact_type.name %></h2>
  		<div class="table-responsive">
				<table class="table table-bordered">
					<tbody>
							<th>Created at</th>
							<td><%= @artifact_type.created_at.to_date %></td>
						</tr>
						<tr>
							<th>Updated at</th>
							<td><%= @artifact_type.updated_at.to_date %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<%= link_to "Edit Artifact Type", edit_project_artifact_type_path(@project, @artifact_type), {class: "btn btn-primary", role: "button"} %>
			<%= link_to "Delete Artifact Type", [@project, @artifact_type], {method: :delete, class: "btn btn-danger", role: "button"} %>
		</main>
	</div>
</div>
