<h5 class="text-center">Forgot your password?</h5>

<% if alert %>
  <p class="text-danger"><%= alert %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control #{is_invalid(resource, :email)}" %>
      <%= error_message_for(resource, :email) %>
  </div>

  <%= f.submit "Send me reset password instructions", class: "btn" %>
<% end %>

<%= render "users/shared/links" %>
