<div class="container-fluid">
	<div class="row">
		<%= render "layouts/sidebar" %>
		<main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			<%= render 'layouts/alerts' %>
			<h2>History</h2>
			<% if @artifact.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@artifact.errors.count, "error") %> prohibited this artifact from being reverted:</h2>

		      <ul>
		      <% @artifact.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<div class="table-responsive">
				<%= form_with url: artifact_reify_path(@project, @demand, @artifact), local: true do |form| %>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th>Code</th>
								<th>Name</th>
								<th>Type</th>
								<th>Description</th>
								<th>Priority</th>
								<th>Attachment</th>
								<th>Version</th>
								<th>Updated at</th>
								<th>Upadated by</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Live</th>
								<td><%= @artifact.code %></td>
								<td><%= @artifact.name %></td>
								<td><%= @artifact.artifact_type.name %></td>
								<td><%= @artifact.description %></td>
								<td><%= @artifact.priority %></td>
								<td><%= @artifact.file_file_name %></td>
								<td><%= @artifact.version_index + 1 %></td>
								<td><%= @artifact.updated_at.to_date %></td>
								<td><%= User.find(@artifact.paper_trail.originator).username %></td>
							</tr>
							<% if !@versions.nil? %>
								<% @versions.each do |v| %>
									<% a = v.reify %>
									<tr>
										<td><%= form.radio_button :index, v.index if !@show_import_button %></td>
										<td><%= a.code %></td>
										<td><%= a.name %></td>
										<td><%= a.artifact_type.name %></td>
										<td><%= a.description %></td>
										<td><%= a.priority%></td>
										<td><%= a.file_file_name%></td>
										<td><%= v.index %></td>
										<td><%= a.updated_at.to_date %></td>
										<td><%= User.find(v.previous.whodunnit).username %></td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
					<% if @show_import_button %>
						<%= link_to "Import Artifact", import_path(@project, @demand, @artifact), {method: :post, class: "btn btn-primary", role: "button"} %>
					<% else %>
						<%= form.submit "Remove Artifact", class: "btn btn-primary", "data-confirm": "Are you sure?" %>
						<%= form.submit "Revert Artifact", class: "btn btn-danger", "data-confirm": "Are you sure?" %>
						<%= form.submit "Delete Artifact", class: "btn btn-danger", "data-confirm": "Are you sure?" %>
					<% end %>
					<%= link_to "Cancel", :back, class: "btn btn-danger", role: "button" %>
				<% end %>
			</div>
		</main>
	</div>
</div>