<p id="notice"><%= notice %></p>

<h2>
  <%= @artifact.code + " - " + @artifact.name %>
</h2>

<p>
  <strong>Description:</strong>
  <%= @artifact.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @artifact.priority %>
</p>

<p>
  <strong>Type:</strong>
  <%= @artifact.artifact_type.name %>
</p>

<% if @artifact.file? %>
	<p>
		<strong>File:</strong>
		<%= link_to @artifact.file_file_name, @artifact.file.url %>
	</p>
<% end %>

<%= link_to 'Edit', edit_project_demand_artifact_path(@project, @demand, @artifact) %> |
<%= link_to 'Back', project_demand_artifacts_path %>
