<p id="notice"><%= notice %></p>

<h2>
  <%= @artifact.code + " - " + @artifact.name %>
</h2>

<p>
  <strong>Description:</strong>
  <%= @artifact.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @artifact.priority %>
</p>

<p>
  <strong>Type:</strong>
  <%= @artifact.artifact_type.name %>
</p>

<%= link_to 'Edit', edit_project_demand_artifact_path(@project, @demand, @artifact) %> |
<%= link_to 'Back', project_demand_artifacts_path %>
