<% content_for :title, @artifact.name %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% if active_demand? %>
  <% navigation_add "Demands", project_demands_path(@project) %>
  <% navigation_add @demand.name, project_demand_path(@project, @demand) %>
<% end %>
<% navigation_add "Artifacts", url_for(action: :index) %>


<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= params[:active_tab]==nil ? 'active' : '' %>" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= params[:active_tab]=='track' ? 'active' : '' %>" id="track-tab" data-toggle="tab" href="#track" role="tab" aria-controls="track" aria-selected="false">Track</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= params[:active_tab]=='comments' ? 'active' : '' %>" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade <%= params[:active_tab]==nil ? 'show active' : '' %>" id="home" role="tabpanel" aria-labelledby="home-tab"><%= render "home" %></div>
  <div class="tab-pane fade <%= params[:active_tab]=='track' ? 'show active' : '' %>" id="track" role="tabpanel" aria-labelledby="track-tab"><%= render "track" %></div>
  <div class="tab-pane fade <%= params[:active_tab]=='comments' ? 'show active' : '' %>" id="comments" role="tabpanel" aria-labelledby="comments-tab"><%= render "comments" %></div>
</div>
