<% content_for :title, "Relationship Types" %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th><%= link_to new_project_relationship_type_path(@project), title: "New Relationship Type", class: "float-right" do %><%= fa_icon "plus" %><% end %></th>
      </tr>
    </thead>

    <tbody>
      <% @relationship_types.each do |relationship_type| %>
        <tr class="clickable-row" data-href="<%= project_relationship_type_path(@project, relationship_type) %>">
          <td><%= relationship_type.name %></td>
          <td class="not-clikable">
            <%= link_to [@project, relationship_type], method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right" do %>
              <%= fa_icon "trash" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
