<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <%= render 'layouts/alerts' %>
      <h2><%= @relationship_type.name %></h2>
  		<div class="table-responsive">
				<table class="table table-bordered">
					<tbody>
							<th>Created at</th>
							<td><%= @relationship_type.created_at.to_date %></td>
						</tr>
						<tr>
							<th>Updated at</th>
							<td><%= @relationship_type.updated_at.to_date %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<%= link_to "Edit Relationship Type", edit_project_relationship_type_path(@project, @relationship_type), {class: "btn btn-primary", role: "button"} %>
			<%= link_to "Delete Relationship Type", [@project, @relationship_type], {method: :delete, class: "btn btn-danger", role: "button"} %>
		</main>
	</div>
</div>
