<% content_for :title, @relationship_type.name %>
<% navigation_add 'Projects', projects_path %>
<% navigation_add @project.name, project_path(@project) %>
<% navigation_add 'Relationship Types', project_relationship_types_path(@project) %>

<div class="table-responsive">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th>Name</th>
				<td><%= @relationship_type.name %></td>
			</tr>
			<tr>
				<th>Color</th>
				<td><%= fa_icon "square 2x", style: "color: #{@relationship_type.color}" %></td>
			</tr>
			<tr>
				<th>Created at</th>
				<td><%= @relationship_type.created_at.to_date %></td>
			</tr>
			<tr>
				<th>Updated at</th>
				<td><%= @relationship_type.updated_at.to_date %></td>
			</tr>
		</tbody>
	</table>
</div>
<% if can? :edit, @relationship_type %>
	<%= link_to "Edit Relationship Type", edit_project_relationship_type_path(@project, @relationship_type), class: "btn btn-primary", role: "button" %>
<% end %>
<% if can? :destroy, @relationship_type %>	
	<%= link_to "Delete Relationship Type", [@project, @relationship_type], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %>
<% end %>
