<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "reqTrace.svg", height:"36" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to "Settings", root_path, class: "nav-link dropdown-toggle", 'data-toggle': "dropdown" %>
          <div class="dropdown-menu">
            <%= link_to "Artifact Type", new_artifact_type_path, class: "dropdown-item" %>
            <%= link_to "Relationship Type", new_relationship_type_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "User Registration", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if !user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
        <li class="nav-item">
          <span class="navbar-text">|</spam>
        </li>
        <li class="nav-item">
          <%= link_to current_user.email, user_path(current_user), class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>