<header class="navbar navbar-expand fixed-top justify-content-between">
  <a class="btn btn-sm text-white bg-dark" id="sidebarCollapse">
    <%= fa_icon "bars" %>
  </a>

  <div class="dropdown">
    <a class="dropdown-toggle" href="#" role="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag current_user.avatar.url(:thumb) %>
      <span class="username"><%= current_user.username %></span>
    </a>
    <div class="dropdown-menu" style="z-index: 999">
      <%= link_to "Profile", current_user, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
    </div>
  </div>
</header>