<% if !active_settings? %>
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
    <ul id="navigation" class="nav nav-pills flex-column" data-children=".item">
      <% if @project.nil? || @project.new_record? %>
        <li class="nav-item <%= active_for(path: projects_path) %>">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item <%= active_for(path: projects_path) %>">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= active_for(path: project_path(@project)) + active_for(path: edit_project_path(@project))%>">
            <%= link_to @project.name, @project, class: "nav-link" %>
        </li>
        <li class="nav-item <%= active_for(path: project_demands_path(@project)) + active_for(path: new_project_demand_path(@project)) %>">
          <%= link_to "Demands", project_demands_path(@project), class: "nav-link" %>
        </li>
        <% if active_demand? %>
          <li class="nav-item item <%= active_demand? ? 'active' : '' %>">
            <a data-toggle="collapse" data-parent="#navigation" href="#demand" aria-expanded="<%= active_demand? ? 'true' : 'false' %>" aria-controls="demand" class="nav-link <%= active_demand? ? '' : 'collapsed' %>"><%= @demand.name %><%= fa_icon "chevron-down", class: "float-right" %></a>
          </li>
          <ul id="demand" class="collapse sub-menu <%= active_demand? ? 'show' : '' %>" role="tabpanel">
            <li class="<%= active_for(path: project_demand_path(@project, @demand)) + active_for(path: edit_project_demand_path(@project, @demand)) %>">
              <%= link_to project_demand_path(@project, @demand), class: "nav-link" do %><%= fa_icon "angle-right", class: "mr-3" %>Show<% end %>
            </li>
            <li class="<%= active_for(path: project_demand_artifacts_path(@project, @demand)) + active_for(path: new_project_demand_artifact_path(@project, @demand)) + active_for(controller: 'artifacts', action: 'show') + active_for(controller: 'artifacts', action: 'edit') + active_for(controller: 'artifacts', action: 'versions') %>">
              <%= link_to project_demand_artifacts_path(@project, @demand), class: "nav-link" do %><%= fa_icon "angle-right", class: "mr-3" %>Artifacts<% end %>
            </li>
            <li class="<%= active_for(path: import_artifacts_path(@project, @demand)) %>">
              <%= link_to import_artifacts_path(@project, @demand), class: "nav-link" do %><%= fa_icon "angle-right", class: "mr-3" %>Import Artifacts<% end %>
            </li>
            <li class="<%= active_for(path: project_demand_relationships_path(@project, @demand)) + active_for(path: matrix_path(@project, @demand)) %>">
              <%= link_to project_demand_relationships_path(@project, @demand), class: "nav-link" do %><%= fa_icon "angle-right", class: "mr-3" %>Relationships<% end %>
            </li>
            <li class="<%= active_for(path: new_project_demand_relationship_path(@project, @demand)) %>">
              <%= link_to new_project_demand_relationship_path(@project, @demand), class: "nav-link" do %><%= fa_icon "angle-right", class: "mr-3" %>New Relationship<% end %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </nav>
<% else %>
  <%= render "layouts/sidebar_settings" %>
<% end %>