<nav id="sidebar" class="mCustomScrollbar">
  <ul id="navigation" class="list-unstyled menu">
    <li class="nav-item">
        <%= link_to @project.name, @project, class: "nav-link" %>
    </li>
    <li class="nav-item <%= active_for(controller: 'artifact_types') %>">
      <%= link_to "Artifact Types", project_artifact_types_path(@project), class: "nav-link" %>
    </li>
    <li class="nav-item <%= active_for(controller: 'relationship_types')%>">
      <%= link_to "Relationship Types", project_relationship_types_path(@project), class: "nav-link" %>
    </li>
    <li class="nav-item <%= active_for(path: project_users_path(@project)) + active_for(path: project_add_users_path(@project)) %>">
      <%= link_to "Users", project_users_path(@project), class: "nav-link"%>
    </li>
  </ul>
</nav>