<!DOCTYPE html>
<html>
  <head>
    <title>TraceReq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>

    <%= yield %>
  </body>
</html>

<style type="text/css">
  body {
    padding-top: 62px;
  }

  .sidebar {
    position: fixed;
    top: 63px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar li {
    border-bottom: 1px solid #23282e;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .sidebar .nav-item {
    border-left: 3px solid #343a40;
  }

  .sidebar .nav-item.active,
  .sidebar .nav-item:hover {
    background-color: #4f5b69;
    border-left: 3px solid #d19b3d;
  }

  .sidebar a {
    border-radius: 0;
    color: white;
  }

  .sidebar .sub-menu {
    background-color: #181c20;
    list-style-type : none;
    padding: 0;
  }

  .sidebar .sub-menu li:hover {
    background-color: #020203;
  }

  .sidebar .sub-menu li.active a {
    color: #d19b3d;
  }

  .clickable-row {
    cursor: pointer;
  }
</style>