<!DOCTYPE html>
<html>
  <head>
    <title>TraceReq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>

    <%= yield %>
  </body>
</html>

<style type="text/css">
  body {
    padding-top: 62px;
  }

  .sidebar {
    position: fixed;
    top: 63px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar .nav {
    margin-bottom: 20px;
  }

  .sidebar .nav-item {
    width: 100%;
  }

  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }

  .sidebar .nav-link {
    border-radius: 0;
  }
</style>