<!DOCTYPE html>
<html>
  <head>
    <title>TraceReq</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
    <div class="d-flex">
      <%= render "layouts/sidebar" %>
      <main id="content">
        <div class="container-fluid" id="wraper">
          <%= render 'layouts/alerts' %>
          <%= render_navigation %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>

<script type="text/javascript">
  $(document).on('turbolinks:load', function () {

    if (sessionStorage.getItem("sidebar_state") == 'active' && $(window).width() > 768) {
      $('#sidebar').addClass('notransition');
      $('#content').addClass('notransition');
      $('#sidebar').addClass('active');
      $('#content').addClass('active');
      $('#sidebar')[0].offsetHeight;
      $('#content')[0].offsetHeight;
      $('#sidebar').removeClass('notransition');
      $('#content').removeClass('notransition');
    }
    
    $("#sidebar").mCustomScrollbar({
      theme: "minimal"
    });
  });

  $('#sidebarCollapse').click('turbolinks:load', function (event) {
    event.preventDefault();
    
    if ($('#sidebar').hasClass('active')) {
      sessionStorage.setItem("sidebar_state", '');
    } else {
      sessionStorage.setItem("sidebar_state", 'active');
    }

    $('#sidebar').toggleClass('active');
    $('#content').toggleClass('active');
  });

  $(document).on('turbolinks:load', function () {
      $("#alert").fadeTo(2000, 500).slideUp(500, function(){
      $("#alert").slideUp(500);
    });
  });
</script>